:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;
  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}

@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #495057;
  color: white;
  height: 40px;
  padding: 10px;
}

.accordion-element {
  background-color: #a5a7a8;
}

span {
  font-size: 24px;
  font-weight: bold;
}

.container {
  width: 400px;
}

button {
  padding: 6px 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.enable {
  background-color: rgb(88, 125, 32);
  color: white;
  font-weight: bold;
}
