@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #f7f7f7;
}

h1 {
  margin-bottom: 12px;
}

.card {
  width: 400px;
  background-color: rgb(240, 241, 241);
  overflow: hidden;
  border-radius: 8px;

}

.profile-avatar {
  width: 100%;
}

.data {
  padding: 20px;
}

.skill-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
  font-weight: bold;
}

/* ******* */
