.tabs_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  background-color: azure;
padding: 20px;
}

.tabs {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: white;
}

.tabs span {
  display: inline-block;
  width: 20%;
  background-color: blueviolet;
  text-align: center;
  padding: 8px;
}

.tabs span.active {
  background-color: green;
}

