.app__container {
  height: 100vh;
  background-color: rgb(255, 194, 120);
}

.app__header {
  text-align: center;
  padding: 2rem;
}

/* INPUT CONTAINER */
.app__form {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.app__form__container {
  height: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: antiquewhite;
}
.app__form__container form {
  width: 100%;
  display: flex;
}
.app__form__container input,
.app__form__container button,
.app__form__container select {
  padding: 1rem;
  font-size: 18px;
  font-weight: 400;
}
.app__form__container select {

}
.app__form__container button {
  cursor: pointer;
}

.app__form__container input {
  flex: 1;
}
.app__form__container input::placeholder {
  color: #999;
}

/* PACKAGING LIST */

.app__packaging__list {
  background-color: rgb(239, 161, 65);
  height: 300px;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}
.app__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: 600;
}
.app__item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item__packed {
  text-decoration: line-through;
  color: green;
}

.packing__finished {
  background-color: green !important;
  color: white !important;
}

.app__clearlist button {
  display: block;
  margin: auto;
  padding: 1rem 2rem;
  font-size: inherit;
  font-weight: 600;
  cursor: pointer;
}

/* FOOTER */
.app__footer {
  padding: 2rem;
  text-align: center;
  font-size: 20px;
  color: rgb(27, 18, 45);
  background-color: rgb(216, 128, 21);
  font-weight: 600;
}
