* {
  box-sizing: border-box;
}

body {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 300px;
  height: 300px;
}

.hide-slide {
  display: none;
}
.container {
  position: relative;
}
.prevBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
  cursor: pointer;
}

.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -40px;
  cursor: pointer;
}

.current-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4px;
  position: absolute;
  transform: translateX(-50%);
  bottom: 20px;
  left: 50%;
}
.current-slide-circle {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #adabab;
  border-radius: 50%;
}

.current-slide {
  background-color: white;
}